* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background: linear-gradient(0deg,rgba(237,245,249,1) 63%, rgba(237,245,249,1) 63%);
  }
  
  .reset-button {
    font-size: 16px;
    height: 30px;
    line-height: 8px;
    margin-top: 20px;
  }
  
  .scoreboard {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
  }
  
  button {
    background: #fff;
    border-radius: 8px;
    color: #4b35ae;
    cursor: pointer;
    font-size: 2em;
    letter-spacing: 0.21px;
    line-height: 16px;
    max-width: 255px;
    padding: 20px 52px;
    text-align: center;
    transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: linear;
    margin-top: 0.6em;
  }
  
  header {
    padding: 40px;
    text-align: center;
    background: rgb(55, 24, 141);
    color: #fff;
    border-bottom:30px #000000;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  section {
    flex: 0 auto;
    padding: 8px;
    margin-top: 50px;
    background-color:#fff(55, 24, 141);
    border-radius: 8px;
    color: rgb(55, 24, 141);
    font-size: 16px;
  }

.hide {
    display: none;
}
  
.start {
    text-align: center;
}
  .results {
    width: 30vw;
    height: 400px;
  }
  
  .large-font {
    font-size: 3.5em
  }
  
  .timer {
    height: 100px;
    padding: 10px;
    background:  rgb(55, 24, 141);
    color: #fff;
    text-align: right;
  }
  
  .timer-text {
    padding: 55px;
  }
  
  @media screen and (max-width: 1183px) {
    main {
      flex-direction: column;
    }
  
    .questions,
    .results {
      width: 90vw;
    }
  
    section, .questions {
      background-color: white;
      color: rgb(55, 24, 141);
      font-size: 16px;
      margin: 20px auto;
      width: 92vw;
    }
  }
  
  @media screen and (max-width: 504px) {
    .large-font {
      font-size: 2em;
    }
  
    .reset-button {
      font-size: 12px;
      width: 20ox;
      
    }
  
    .timer {
      height: 200px;
    }  
}